TZ=Europe/Berlin
DRY_RUN=true
AUTO_OFF_TIME=20:00
OVERRIDE_RESET_TIME=00:05
HARD_CUTOFF_TIME=01:00

SERVICE_PORT=1884

MQTT_HOST=192.168.2.78
MQTT_PORT=1883
MQTT_ALLOW_ANONYMOUS=true
MQTT_USERNAME=
MQTT_PASSWORD=

TASMOTA_BASE_TOPIC=tasmota_1C8D21
TASMOTA_COMMAND_PREFIX=cmnd

HTTP_FALLBACK_URL=http://192.168.2.59
SQLITE_PATH=data/desk_power_guardian.db
